{% extends 'get_your_goods/base.html' %}

{% block title %}
Forgot Password
{% endblock %}

{% block content %}

<h2>Forgot Password</h2>

<p>
    Enter the email address associated with your account.
    We'll send you a password reset link.
</p>

<form method="post">
    {% csrf_token %}

    <p>
        <label>Email Address</label><br>
        <input
            type="email"
            name="email"
            required
            style="width:300px;">
    </p>

    <button type="submit">
        Send Reset Email
    </button>

</form>

{% if error %}
    <p style="color:red;">
        {{ error }}
    </p>
{% endif %}

<p>
    <a href="{% url 'get_your_goods:login' %}">
        Back to Login
    </a>
</p>

{% endblock %}